  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <% if (user?.profile.avatar) { %>
        <div>
          <h5>Welcome<%= user ? (` back, ${user.profile.name}!`) : ", friend" %></h5>
          <img
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
            id="profile-avatar-nav"
          />
        </div>
      <% } %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Current Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Our Team</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Current Listings</a></li>
              <li><a class="dropdown-item" href="#">Our Team</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<body>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <% if (user) { %>
        <a href="/auth/logout">
          <button type="submit">Logout</button>
        </a>
        <a href="/listings">
          <button type="submit" class="nav-link">
            <i>Listings(add icon)</i>
          </button>
        </a>
        <a href="/realtors">
          <button type="submit" class="nav-link">
            <i>Realtors(add icon)</i>
          </button>
        </a>
        <a href="/">
          <button type="submit" class="nav-link">
            <i>Home(add icon)</i>
          </button>
        </a>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      <% } %>
    </div>
  </nav>


