  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <% if (user) { %>
        <a href="/auth/logout">
          <button type="submit">Logout</button>
        </a>
        <a href="/listings">
          <button type="submit" class="nav-link">
            <i>Listings(add icon)</i>
          </button>
        </a>
        <a href="/realtors">
          <button type="submit" class="nav-link">
            <i>Realtors(add icon)</i>
          </button>
        </a>
        <a href="/">
          <button type="submit" class="nav-link">
            <i>Home(add icon)</i>
          </button>
        </a>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      <% } %>
    </div>
  </nav>
