<nav id="navbar-bottom" class="navbar fixed-bottom navbar-light bg-light">
  <div>
    <ul class=""">
      <li class="nav-item">
        <i class="fa-solid fa-house"></i>
        <a class="nav-link" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <i class="fa-solid fa-house-laptop"></i>
        <a class="nav-link" href="/listings">Current Listings</a>
      </li>
      <li class="nav-item">
        <i class="fa-solid fa-user-group"></i>
        <a class="nav-link" aria-current="page" href="/realtors">Our Team</a>
      </li>
      <li class="nav-item">
          <i class="fa-solid fa-door-open"></i>
          <a class="nav-link" aria-current="page" href="/auth/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>