<nav id="navbar-bottom" class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <% if (user) { %>
      <a href="/listings">
          <i class="button fa-solid fa-house-laptop"></i>
      </a>
      <a href="/realtors">
        <button type="submit" class="nav-link">
          <i>Realtors(add icon)</i>
        </button>
      </a>
      <a href="/">
        <button type="submit" class="nav-link">
          <i>Home(add icon)</i>
        </button>
      </a>
        <% } else { %>
          <% } %>
  </div>
</nav>