
  <div class="signin-modal-content">
      <div></div><span class="signin-modal-close-btn" href="javascript:void(0)" onclick="toggle('signin-modal')">&times;</span>
      <div class="signin-modal-content-inner">  
        <div class="signin-modal-title">Sign In!</div>
        <p>Some features will be available, but we reserve the coolest ones for people who have signed in.</p>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      </div>
    </div>
</div>
<script src="../JS/signin-modal.js"></script>