<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <img src="../images/assets/austinskyline5-400x400.jpeg">
</main>

<%- include('./partials/navbottom') %> 
<%- include('./partials/footer') %>
