<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 class="h1-main">Stribling Real Estate</h1>
  <img src="../images/assets/austinskyline5-400x400.jpeg">
</main>

<%- include('./partials/navbottom-landing') %> 
<%- include('./partials/footer') %>
