html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #b0d0d3;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.loggedin-restriction {
  display: flex;
  height: 75vh;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

.loggedin-restriction > h1 {
  width: 70vw;
  margin: 5vh;
}

#navbar-top  {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100vw;
}
#navbar-bottom {
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#profile-avatar-nav{
  width: 9vw;
  border-radius: 50%;
  border: solid #e9bcb7;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10vh;
  height: auto;
  margin-bottom: 10vh;
  padding: 2vh 0 2vh 0;
}

.nav-item {
  width: 100vw;
}

li {
  color: #b0d0d3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
a.nav-link {
  margin-left: 3vw;
  font-size: 2.0rem;
}

h2 {
  font-size: 2.0rem;
  margin-top: 3vh;
}

#listing-realtor-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#listing-realtor-label > p {
  font-size: 1.2rem;
}

#listing-realtor-label > img{
  border-radius: 50%;
  height: 2vh;
  width: 2vh;

}
