<%- include('../partials/html-head') %>

<main>
  <div class="card">
    <h2>Add a Realtor</h2>
    <form action="/realtors" method="POST">
      <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        About Me:
        <input type="text" name="aboutMe">
      </label>
      <label>
        Title:
        <input type="text" name="title">
      </label>
      <label>
        Experience:
        <select name="experience" id="experience-select">
          <option value="expert">expert</option>
          <option value="advanced">advanced</option>
          <option value="beginner">beginner</option>
          <option value="intern">intern</option>
        </select>
      </label>
      <button type="submit" class="btn btn-primary">Add Realtor</button>
    </form>
  </div>
</main>

<%- include('../partials/navbottom-realtors') %>
<%- include('../partials/footer') %>